<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="conversations1-header">
        <%= link_to new_conversation_path, class: 'no-rad btn btn-sm btn-info convo-btn pull-right' do %>
          <span class="glyphicon glyphicon-pencil"></span> New
        <% end %>
        <div class="page-header">
          <h3><b>All Conversations</b></h3>
        </div>
      </div>

      <div class="conversation-scroll" style="overflow-y: scroll; overflow-x: hidden; height:400px; margin-bottom:20px;">
        <% @conversations.each do |conversation| %>
          <div class="row">
            <div class="col-md-10">
              <div class="conversations1">
                <%= link_to conversation.subject, conversation_path(conversation) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
