/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require easy-autocomplete
 *= require easy-autocomplete.themes
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'chosen';

 .autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

 .navbar {
   border-color: white !important;
   border-radius: 0 !important;
 }

 .myPopup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow-y: hidden; // hide vertical
}

.dif {
  background-color: #171C22 !important;
  border-color: white !important;
  border-radius: 0;
}

.dif:hover {
  background-color: #343a42 !important;
}

/* Modal Content/Box */
.modal-content {
    margin: 7% auto; /* 15% from the top and centered */
    padding: 20px;
    color: white;
    border: 1px solid #888;
    max-width: 800px;
    min-height: 500px;
    border-radius: 0;
    background: url("https://preview.ibb.co/dDaULy/IMG_2536.jpg");
    background-position: center;
    background-size: cover;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.popupclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popupclose:hover,
.popupclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

 #myBtn {
   cursor: pointer;
 }

 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    text-align: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

 .center {
   float: none !important;
   text-align: center;
 }

 .buttt {
   font-size: 30px;
   width: 250px;
   text-align: center;
   float: none !important;
   padding: 10px;
   font-weight: bold;
 }

 .buttt a {
   color: white !important;
 }

 .what-were a {
   color: white !important;
 }

 .what-were a:hover {
   color: #e5e5e5 !important;
 }

 .work-with {
   background-color: #267ECA;
 }

 .work-with a {
   color: white !important;
 }

 .work-with a:hover {
   color: #e5e5e5 !important;
 }

 .not-bold {
   font-weight: normal;
 }

 .no-rad {
   border-radius: 0;
 }

 .entry-link a {
   color: white;
 }

.special-button {
  border: 0;
  margin-left: 5px;
  font-size: 12px;
}

 .entry-pending {
   background-color: white;
   padding: 10px;
   margin: 0;
   margin-top: 10px;
   box-shadow: 0px 1px 0px grey;
 }

 .next-post a {
   color: white !important;
 }

 .next-post {
   border-radius: 0px !important;
 }

 .date-cont {
   margin-bottom: 50px;
 }

 .date {
   padding: 20px;
   background-color: #2B3138;
   font-size: 20px;
   color: white;
   margin: -15px !important;
   width: 115px;
 }

 .breadcrumb {
   border-radius: 0px !important;
 }

 .thin {
    font-weight: 500;
 }

 .blog {
   color: white;
   padding-top: 25px;
   font-weight: bold;
   margin-top: 0px !important;
   font-size: 80px;
 }

.background {
  background-color: #2B3138;
  height: 200px;
}

 .feat-image {
   height: 200px;
   width: 305px;
   padding: 0px 10px 10px 10px;
 }

 .summ {
   width: 240px;
   margin-left: 10px;
   word-wrap: break-word;
 }

 .grav {
   margin-top: 40px;
 }

 .btn-info {
   padding: 3px 10px !important;
 }

.main-image {
  position: relative;
  top: 70px;
}

 #message-scroll {
   padding-right: 5px;
 }

 a {
   text-decoration: none !important;
 }

 .gig-user a {
   text-decoration: none;
 }

 .index-user-2 a {
   text-decoration: none;
 }

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #267eca;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  cursor: default;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #267eca;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

 .eventtab {
   cursor: pointer;
 }

 .gigtab {
   cursor: pointer;
 }

 .container {
   margin-top: 20px;
 }

 .search {
   margin-top: -10px;
 }

.alert .alert-danger {
  background-color: #FF7070;
  text-align: left !important;
  padding: 10px !important;
  color: white !important;
}

 html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

 body {
   position: relative;
   margin: 0;
   padding-bottom: 20rem;
   min-height: 100%;
 }

 .home-search2 {
   border-radius: 0 !important;
   height: 35px !important;
   font-size: 15px !important;
   -webkit-appearance: none;
   width: 325px;
   -moz-appearance: none;
   text-indent: 1px;
   text-overflow: '';
 }

 .convo-btn {
   font-size: 14px;
 }

 .home-search3 {
   border-radius: 0 !important;
   height: 35px !important;
   font-size: 15px !important;
   -webkit-appearance: none;
   width: 125px;
   -moz-appearance: none;
   text-indent: 1px;
   text-overflow: '';
 }

 .footer-1 {
   height: 175px;
   background-color: #2b3138;
   position: absolute;
   padding-top: 30px;
   right: 0;
   bottom: 0;
   color: white;
   left: 0;
   text-align: center;
 }

 .edit_account {
   background-color: white;
   padding: 10px;
   box-shadow: 0px 1px 0px grey;
 }

 .footer-2 {
   background-color: #171C22;
   position: absolute;
   right: 0;
   bottom: 0;
   height: 40px;
   color: white;
   left: 0;
   padding: 1rem;
   text-align: center;
 }

 .gig-review {
   box-shadow: 0px 1px 0px grey;
   border-radius: 0px;
 }

 .review-form {
   box-shadow: 0px 1px 0px grey;
 }

 .chosen-search-input {
   padding: 5px !important;
 }

input {
  border-radius: 0px !important;
}

textarea {
  border-radius: 0px !important;
}

 .charge-form {
   width: 100px !important;
 }

 // .right {
 //   height: 500px !important;
 //   margin-top: 0px;
 // }

 .carousel-control {
   background-image: none !important;
 }

 .convo-recipients {
   margin-bottom: -10px;
 }

.convo-container {
  background-color: white;
  padding: 10px;
  box-shadow: 0px 1px 0px grey;
}

 .glyphicon-chevron-right {
   color: black !important;
 }

.glyphicon-chevron-left {
  color: black !important;

}

 .edit_gig {
   max-width: 800px;
   box-shadow: 0px 1px 0px grey;
   background-color: white;
   padding: 10px;
 }

 .new_gig {
   max-width: 800px;
   box-shadow: 0px 1px 0px grey;
   background-color: white;
   padding: 10px;
 }

 .price {
   width: 150px;
 }

.form-group {
  padding: 10px;
}

.show-buyer {
  margin-bottom: 10px;
  cursor: pointer;
}

.show-admin {
  cursor: pointer;
  background-color: #ff7070;
  border-radius: 5px;
  margin-bottom: 10px;
}

.dash-box {
  text-align: center;
}

.show-admin:hover a {
  color: #337AB7;
}

.show-admin a {
  color: white;
}

.show-seller {
  cursor: pointer;
  margin-bottom: 10px;
}

.navbar-default {
  background-color: white;
}

.navbar-nav li a {
  line-height: 75px;
}

.navbar-nav .dropdown li a {
  line-height: 105px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-nav .dropdown .dropdown-menu li a {
  line-height: 20px !important;
}

.nav-username {
  text-align: center;
  padding: 5px;
  padding-bottom: 15px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
  }

  .navbar-header {
    height: 105px;
  }

  .navbar-toggle {
    margin-top: 35px;
  }
}

.nav-avatar {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

#notice_wrapper {
  width: 100%;
  z-index: 999;
  background: rgba(0, 128, 0, 0.85);
}

#notice_wrapper_alert {
  width: 100%;
  z-index: 999;
  background: #ff7070;
}

#notice_wrapper_info {
  width: 100%;
  z-index: 999;
  background: rgba(2, 105, 194, 0.85);
}

.notice {
  padding: 1rem 0;
  text-align: center;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
}

.alert {
  padding: 1rem 0;
  text-align: center;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
}

.info {
  padding: 1rem 0;
  text-align: center;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
}

.info p {
  margin: 0;
}

.resend {
  text-decoration: underline;
  color: white;
}

.btn-info {
  background-color: #267ECA;
  border-color: #267ECA;
}

.btn-info:hover {
  background-color: #23527C;
  border-color: #23527C;
}

.conversations1 {
  background-color: white;
  padding: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 1px 0px grey;
}

@media only screen and (max-width: 600px) {
  .conversation-scroll {
    height: 100px !important;
  }
}


.conversations1-header {
  margin-bottom: 20px;
}

.send_message_btn {
  margin-top: -40px;
}
